<h3>Frage {{currentProgress.QuestionsAnswered + 1}} von {{currentProgress.TotalQuestions}}</h3>
<div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" ng-style="{width : (currentProgress | progressPercentage) }" aria-valuenow="{{currentProgress | progressPercentage}}" aria-valuemin="0" aria-valuemax="100"><span class="sr-only">{{currentProgress | progressPercentage}}</span></div>
</div>

<div class="jumbotron">
  <h2>{{currentQuestion.QuestionMessage}}</h2>
  <button type="button" class="btn btn-lg btn-primary answer-button"
          ng-repeat="answer in currentQuestion.answers"
          ng-click="answerQuestionAndGetNextOne(answer,currentQuestion.Id)">
    {{answer.AnswerMessage}}
  </button>
</div>


